@import '../../style/variables.scss';
@import '../../style/mixins.scss';

.App {
  position: relative;
  height: 100vh;
  background-color: #17181e;
  overflow: hidden;

  &__purple-sphere {
    background-image: url('../../assets/images/sphere.png');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 30%;
    width: 254px;
    height: 171px;
    @include crossBrowser(transition, all 0.5s ease);
    @include crossBrowser(transform, translateX(-50%));

    @media (max-width: $media-tablets) {
      top: -6%;
      left: 7%;
    }
  }
  &__purple-sphere-right {
    background-image: url('../../assets/images/sphere-right.png');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 15%;
    right: 0%;
    width: 62px;
    height: 172px;
    @include crossBrowser(transition, all 0.5s ease);

    @media (max-width: $media-tablets) {
      bottom: -6%;
      right: 0%;
    }
  }
  &__black-sphere-top {
    background-image: url('../../assets/images/black-sphere.png');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 15%;
    right: 25%;
    width: 137px;
    height: 137px;
    @include crossBrowser(transition, all 0.5s ease);
    @include crossBrowser(transform, translateX(-50%));

    @media (max-width: $media-tablets) {
      top: 5%;
      right: -11%;
    }
  }
  &__black-sphere-bottom {
    background-image: url('../../assets/images/black-sphere-bottom.png');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 221px;
    height: 127px;
    @include crossBrowser(transition, all 0.5s ease);

    @media (max-width: $media-tablets) {
      bottom: -5%;
      left: -19%;
    }
  }
}
