@import '../style/variables.scss';
@import '../style/mixins.scss';

.auth {
  position: absolute;
  top: 50%;
  left: 50%;
  @include crossBrowser(transform, translate(-50%, -50%));

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  &__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    margin-bottom: 55px;
    letter-spacing: 1px;

    @include crossBrowser(transition, all 0.5s ease);

    @media (max-width: $media-extra-phones) {
      font-size: 40px;
      line-height: 60px;
    }
  }
  &__info {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin-top: 42px;

    @include crossBrowser(transition, all 0.5s ease);

    @media (max-width: $media-small-desktops) {
      max-width: 265px;
    }
  }
  &__link {
    margin-left: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    color: $main-color;
    text-decoration: underline;
    @include crossBrowser(transition, all 0.5s ease);

    text-shadow: 3px 3px 2px transparent;

    &:hover {
      color: $second-color;
      text-shadow: 3px 3px 2px rgb(0, 0, 0);
    }
    @media (max-width: $media-small-desktops) {
      margin-left: 0px;
      line-height: 32px;
    }
  }
}
