// media queries for this project

$media-laptops: 1200px;
$media-small-desktops: 991px;
$media-tablets: 767px;
$media-extra-phones: 460px;
$media-phones: 420px;
$media-small-phones: 350px;

$main-color: #fff;
$second-color: #ad2ca8;
$second-color-hover: #de29d8;
$second-color-active: #760072;

$error-color: #e21111;
