@import '../../style/variables.scss';
@import '../../style/mixins.scss';

.MainPage {
  position: relative;

  padding-top: 50px;
  &__container {
    background: #0a0a0a;
    border: 7px solid rgba(56, 56, 56, 0.6);
    border-radius: 18px;
    height: 500px;
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      background-image: url('../../assets/images/bg-main.png');
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
    }
  }
}

.content-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(50px);
  padding: 10px 70px;
  &::after {
    content: '';
    background-color: #fff;
    position: absolute;
    height: 1px;
    width: 90%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }

  &__title {
    font-size: 25px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    color: $main-color;
    margin-bottom: 10px;

    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);

    &--username {
      color: #000;
      font-size: 29px;
      text-decoration: underline;
      text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    }
  }
  &__button {
    width: 215px;
    padding: 9px 0px;
    background-color: $second-color;
    border-radius: 8px;

    font-family: 'Poppins';
    font-weight: 700;
    font-size: 21px;
    text-align: center;

    color: #ffffff;
    cursor: pointer;

    @include crossBrowser(transition, all 0.4s ease);

    &:hover:not(.AuthForm-button-disabled) {
      background-color: $second-color-hover;
      -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.9);
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.9);
    }
    &:active:not(.AuthForm-button-disabled) {
      background-color: $second-color-active;
      @include crossBrowser(transform, translateY(4px));
      -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    }

    @media (max-width: $media-extra-phones) {
      width: 350px;
    }
    @media (max-width: $media-extra-small-phones) {
      width: 305px;
    }
  }
}
