@import '../../style/variables.scss';
@import '../../style/mixins.scss';

.Contact {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 20px;

  &__container {
  }
  &__name {
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-bottom: 7px;
  }
  &__link {
    display: block;
    margin-bottom: 3px;
    @include crossBrowser(transition, all 0.4s ease);

    color: rgb(181, 181, 181);
    text-shadow: 3px 3px 3px transparent;
    &:hover {
      color: rgb(255, 54, 252);
      text-shadow: 3px 3px 3px rgba(62, 62, 62, 0.9);
    }
  }
  &__actions {
    @media (max-width: $media-tablets) {
      position: absolute;
      bottom: 5px;
      right: 5px;
    }
  }
}

.contact-tel {
  @media (max-width: $media-tablets) {
    margin-bottom: 15px;
  }
}

.Contact-btn {
  box-shadow: 3px 3px 12px rgb(0 0 0 / 90%);
  border: 1px solid #222222;
  backdrop-filter: blur(6px);
  border-radius: 7px;

  width: 120px;
  padding: 4px 10px;
  height: 32px;

  font-family: 'Poppins';
  font-weight: 700;
  font-size: 14px;
  text-align: center;

  color: #ffffff;
  cursor: pointer;
  user-select: none;

  @include crossBrowser(transition, all 0.2s ease);

  &--change {
    background-color: $second-color;
    &:hover {
      background-color: $second-color-hover;
    }
    &:active {
      background-color: $second-color-active;
      @include crossBrowser(transform, translateY(4px));
    }
  }
  &--delete {
    background-color: #ba3156;
    &:hover {
      background-color: #ef1c54;
    }
    &:active {
      background-color: #990f34;
      @include crossBrowser(transform, translateY(4px));
    }
  }

  @media (max-width: $media-small-desktops) {
    width: 75px;
    padding: 4px 0px;
  }
}
